 /* Text */

.text-center{
     text-align: center;
 }
.heading-small{
     font-size: 1.25rem;
 }
.heading-medium{
    font-size: 1.50rem;
}
.heading-big{
    font-size: 1.75rem;
}
.bg-dark-blue{
    background-color: cadetblue;
}
.bg-light-blue{
    background-color: blueviolet;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
/* 
.pic-center{
    width: 14rem;
    height: 18rem;
}
*/
/* Button */
.btn-block{
    text-align: center;
    width: 100%;
    height: 30px;
    
}
.form-group label{
    display: block;
}
.form-group{
    padding: 0.25rem 0;
}
.form-control{
    width: 100%;
    padding: 0.25rem;
    font-size: 1rem;
    resize: none;
    border-radius: 6px;
    border: 0ch;
}
#contact{
    color: white;
    padding: 1rem;
}
#contact .contact-form{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
#contact .contact-form ul{
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self: center;
    
}
#contact .contact-form ul a{
    padding: 1rem;
    font-size: 35px;
}
#contact .contact-form ul a:hover{
    opacity: 0.8;
}