*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
html{
    font-family: "Open Sams", sans-serif;
}
#navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 75px;
}
#navbar ul{
    list-style: none;
    display: flex;
}
#navbar ul li a{
    padding: 0.775rem;
}
#navbar ul li a:hover{
    background-color: blueviolet;
    border-radius: 4px;
}
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid gray;
}
#home img{
    height: auto;
    max-width: 100%;
    border-radius: 100%;
}
#home .name{
    text-align: center;
}
#home .name h2{
    margin-bottom: 0.50rem;
}
#home .name p{
    opacity: 0.5;
}
#home a {
    margin-top: 1.25rem;
    background-color: cadetblue;
    padding: 0.8rem 3rem;
    border-radius: 6px;
}
#home a:hover{
    color: cadetblue;
    background: white;
    border: 0.5px solid cadetblue;
    border-radius: 6px;
}
#Educations{
    padding: 1rem;
    color: white;
}
#Educations .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Educations .items .item{
    padding: 0.75rem;
    width: 33%;
    text-align: center;
}
#Educations .items .item:hover{
    color: cadetblue;
    background: white;
    border: 0.5px solid cadetblue;
    border-radius: 6px;
}
#courses{
    color: black;
    padding: 1rem;
}
.courses {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.courses .course{
    display: flex;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.courses .course .course-image{
    margin-right: 0.50rem;
    position: relative;
}
.courses .course .course-image img{
    border-radius: 20px;
}
.courses .course .course-image span{
    background: red;
    padding: 0.5rem;
    border-radius: 4px;
    color: white;
    position: absolute;
    bottom:10px;
    left: 0;
}
.courses .course .course-info .title{
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: center;  
}
.courses .course .course-info .description{
    letter-spacing: 1.2px;
    font-weight: 700px;
    margin-bottom: 0.25rem;
    opacity: 0.5;
}
.courses .course .course-info .instructor{
    letter-spacing: 1.2px;
    font-weight: 700px;
    margin-bottom: 0.25rem;
    opacity: 0.5;
    

}
.courses .course .course-info .rating{
    letter-spacing: 1.2px;
    font-weight: 700px;
    margin-bottom: 0.25rem;
    opacity: 0.5;

}





